<div class="col-xs-8 col-xs-offset-2">
  <span class="badge badge-secondary" (click)="clickEmpty()">Очистить форму</span>
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
    <div ngModelGroup="userPasswordGroup" #userPasswordGroup="ngModelGroup">
      <p *ngIf="userPasswordGroup.invalid && userPasswordGroup.touched"
         [ngStyle]="{'color': 'red'}">И e-mail, и пароль - поля обязательные!</p>
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': email.invalid && email.touched}"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        >
        <p *ngIf="email.invalid && email.touched" [ngStyle]="{'color':'red'}">Введите корректный E-Mail </p>
        <button type="button" class="btn btn-primary" (click)="addRandEmail()">Добавить случайный E-Mail</button>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="{'is-invalid': pass.invalid && pass.touched}"
          ngModel
          name="pass"
          required
          #pass="ngModel"
        >
        <p *ngIf="pass.invalid && pass.touched" [ngStyle]="{'color':'red'}">Введите корректный пароль </p>
      </div>
    </div>
    <label>Выберите страну</label>
    <!--нам надо один раз забрать дефолтное значение -->
    <select
      class="form-control"
      [ngModel]="defaultCountry"
      name="country"
      required
    >
      <option *ngFor="let country of countries"
              [value]="country.val"
      >
        {{country.text}}
      </option>
    </select>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input
          type="radio"
          [value]="ans.type"
          [ngModel]="defaultAnswer"
          name="answer"
          required
        > {{ans.text}}
      </label>
    </div>
    <button
      (click)="isSubmited()"
      class="btn btn-success"
      type="submit"
      [disabled]="!form.valid">Сохранить
    </button>
  </form>
  <div *ngIf="isSubmite" [ngStyle]="{'color': 'green'}"><kbd> Отправиляем JSON...</kbd>
    <pre>
      <code>
      {{ formData | json }}
      </code>
    </pre>
  </div>
</div>
