<div class="col-xs-8 col-xs-offset-2">
  <!--тут мы использовали acync pipe вместо того, что бы прямо в http-server.component.ts-->
  <!--прописать-->
  <!--ngOnInit(): void {-->
  <!--this.appTitle = this.carsService.getAppTitle()-->
  <!--.subscribe( (title: string) => this.appTitle = title );-->
  <div *ngIf="appTitle | async; let title">
    <h3> {{title.val}}</h3>
  </div>

  <!--<div *ngFor="let title of appTitle | async">-->
  <!--{{title.val}}-->
  <!--</div>-->
  <input type="text" class="form-control" [(ngModel)]="carName">

  <hr>
  <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
  <button class="btn btn-success" (click)="addCar()">Добавить автомобиль</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars | async">
      {{car.name}}
      <span
        class="badge badge-pill badge-warning"
        [ngStyle]="{background: car.color}"
      >
        id={{car.id}}
      </span>
      <button class="btn btn-sm btn-info" (click)="setNewColor(car)">Изменить цвет</button>
      <button class="btn btn-sm btn-danger" (click)="deleteCar(car)">Удалить</button>
    </li>
  </ul>
  <!--<ul class="list-group">-->

  <!--</ul>-->

</div>
